@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,200&display=swap");

body {
  background: #cdd4e2;
}
.login {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Glory", sans-serif;
}
.uno {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Glory", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-family: "Glory", sans-serif;
}
h3,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Glory", sans-serif;
}

h4 {
  font-size: 1.5rem;
  border-style: dotted;
  border-color: #6197fa;
}

legend {
  font-size: 2rem;
}

.buttons {
  display: grid;
  place-items: center;
  margin-top: 7rem;
}

.fun {
  margin: 6em;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(195, 219, 241);
}

.fun2 {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(195, 219, 241);
  right: 100px;
}

input {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(195, 219, 241);
}
